html {
    box-sizing: border-box;
  }
  
  *, ::after, ::before {
    box-sizing: inherit;
  }
  
  
  .body {
    max-width: 600px;
    margin: auto;
    background-image: url("../images/walutabackground.jpg");
    background-size: 100%;
  }
  
  .container {
    overflow-x: auto;
  }